/* Fonts */

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilda Display';
    src: url('fonts/GildaDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* Root */

:root {
    --color-black: rgb(18, 18, 18);
    --color-white: white;
    --color-red: #00ff00;

    --font-size-base: 18px;
    --font-size-copy: 14px;

    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Gilda Display';

    --header-footer-width: 50vw;

    --menu-edge: 20px;
    --margin-bottom: 40px;
}

body {
    background: var(--color-black);
}

#login {
    width: 300px;
    padding: 5% 0 0;
    margin: auto;
}

.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 100px 50px 50px 50px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border: none;
    box-shadow: none;
}

.login #login_error,
.login .message,
.login .success {
    border-radius: 20px;
    border-left: none;
    border: 1px solid white;
    color: white;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
    word-wrap: break-word;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
    color: var(--color-red);
}