/* Fonts */

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilda Display';
    src: url('fonts/GildaDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* Root */

:root {
    --color-black: rgb(18, 18, 18);
    --color-white: white;
    --color-accent: rgb(159, 126, 255);
    --color-accent-hover: rgb(122, 92, 214);

    --font-size-base: 18px;
    --font-size-copy: 14px;

    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Gilda Display';

    --header-footer-width: 50vw;

    --menu-edge: 20px;
    --margin-bottom: 40px;
}

body {
    background: var(--color-accent);
    font-family: var(--font-sans);
}

#login {
    width: 400px;
    padding: 5% 0 0;
    margin: auto;
}

.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 300px 50px 50px 50px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border: none;
    box-shadow: none;
}

.login #login_error,
.login .message,
.login .success {
    border-radius: 20px;
    border-left: none;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
    word-wrap: break-word;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
    color: var(--color-white);
}

.login h1,
#login h1 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.login h1 a,
#login h1 a {
    background-image: url();
    background-image: none, url();
    background-size: 80px 80px;
    background-position: center top;
    background-repeat: no-repeat;
    color: var(--color-white);
    text-transform: uppercase;
    height: 80px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 80px;
    text-indent: 0px;
    outline: none;
    overflow: hidden;
    display: block;
    font-size: 0px;
}

.login #backtoblog a,
.login #nav a,
#login h1:after,
.login h1:after {
    color: var(--color-black);
}

p#nav,
p#backtoblog {
    text-align: center;
}

.login label {
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 3px;
    color: var(--color-black);
}

.wp-core-ui .button-primary {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
    text-decoration: none;
    text-shadow: none;
}



.login .button.wp-hide-pw {
    color: var(--color-accent);
}

.login .button.wp-hide-pw:hover {
    color: var(--color-accent-hover);
}

.wp-core-ui .button-primary:hover {
    background: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
    color: var(--color-white);
    text-decoration: none;
    text-shadow: none;
}

.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
    border-radius: 10px;
}

input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 1px var(--color-accent);
    outline: 2px solid transparent;
}

input[type=checkbox]:checked::before {
    color: var(--color-black);
    content: "⨯";
    font-size: 2.5em;
    margin: 0;
    margin-left: -0.09em;
    height: 1.3125rem;
    width: 1.3125rem;
}